.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}
  
.width-and-height {
  height: 50px;
  width: 50px;
}
  
/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
.padding {
    padding: 20px;
}
  
/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
.margin {
    margin: 30px;
}
  
/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {
  border: 5px solid black;
}

.imagem{
    width: 500px;
}

.paragrafo{
    background: rgb(240, 240, 240);
    width: 80%;
    height: 300px;
    overflow-y: auto;
}

.link{
    margin: 10px;
}

#praia{
    width: 450px;
    position: absolute;
}

#oculos{
    width: 40px;
    position: absolute;
}

#boneco{
    width: 200px;
    position: absolute;
}